#first
{
	padding: 3rem;
	padding-left: 5rem;
}

#second
{
	padding: 3rem;
	padding-left: 5rem;
}

#f
{
	padding: .1rem;
	padding-left: 5rem;
}







#title{
	padding-top: 2rem;
	color: #3C4F5E;
	text-align: left;
	padding-left: 5rem;
}

#task{
	padding-top: 2rem;
	color: grey;
	text-align: left;
	padding-left: 5rem;
}

#wire{
	padding-top: 2rem;
	color: grey;
	text-align: left;
	padding-left: 5rem;
}

#design{
	padding-top: 2rem;
	color: grey;
	text-align: left;
	padding-left: 5rem;
}


#intro{
	padding-top: 2rem;
	padding-bottom: 2rem;
	color: white;
	text-align: left;
	padding-left: 5rem;
	background-color: #4A90E2;
}



h1 {
	font-weight: bold;
	
}

body{ 
	background: white;
}