#first
{
	padding: 2rem;
}

#second
{
	padding: 2rem;
}

#third
{
	padding: 2rem;
}

#fourth
{
	padding: 2rem;
}

#fifth
{
	padding: 2rem;
}

#sixth
{
	padding: 2rem;
}

#seventh
{
	padding: 2rem;
}

#eith
{
	padding: 2rem;
}

#title{
	padding: 2rem;
	background-color: #00293C;
	color: white;
}

h1 {
	font-weight: bold;
	
}

body{ 
	background-color: #00293C;
}