#first
{
	padding: 2rem;
}

#second
{
	padding: 2rem;
}

#third
{
	padding: 2rem;
}

#fourth
{
	padding: 2rem;
}



#title{
	padding: 2rem;
	background-color: #4A90E2;
	color: #EFEFEF;
}

body{ 
	background-color: #EFEFEF;
}