#first
{
	padding: 3rem;
}

#second
{
	padding: 3rem;
}

#third
{
	padding: 3rem;
}

#fourth
{
	padding: 3rem;
}

#fifth
{
	padding: 3rem;
}

#sixth
{
	padding: 3rem;
}

#seventh
{
	padding: 3rem;
}

#eith
{
	padding: 3rem;
}

#title{
	padding-top: 2rem;
	color: white;
	text-align: center
}



h1 {
	font-weight: bold;
	
}

body{ 
	background: url('images/city.png');
}