#first
{
	padding: 3rem;
}

#second
{
	padding: 3rem;
}

#third
{
	padding: 3rem;
}

#fourth
{
	padding: 3rem;
}

h1 {
	font-weight: bold;

}





#title{
	padding: .7rem;
	background-color: #4A90E2;
	color: white;
	text-align: center
}

body{ 
	background-color: #EFEFEF;
}